<%= link_to "Nueva Publicación", new_publication_path, class:'bi bi-file-earmark-plus btn btn-success col-3' %>  
</div>
<p class="lead container-fluid" style="color: red"><em><strong><%= notice %></strong></em></p>
<div  id="publications" class="row container-fluid">
      <h1>Publicaciones</h1>
    <%= paginate @publications %>
    <% @publications.each do |publication| %>
      <div class="card text-dark bg-light mb-3 border border-info " style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
                <%= image_tag publication.photo, width:200,class:'img-fluid rounded-start' if publication.photo.attached? %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text"><%= render publication %></p>
                <p class="card-text"><small class="text-muted"><%= link_to " Mostrar Publicación", publication, class:'bi bi-eye-fill btn btn-primary' %></small></p>
              </div>
            </div>
          </div>
      </div>
    <% end %>
    <%= paginate @publications %>
</div>


